<div class="card-columns">
  <div class="card">
      <h5 class="card-header">The Bitcoin Standard</h5>
    <div class="text-center">
      <img src="/assets/images/btcstandard.jpg" class="img-fluid" alt="Responsive image">
    </div>
      <div class="card-body">
        <h5 class="card-title">By Saifedean Ammous</h5>
          <p class="card-text">The Decentralized Alternative to Central Banking.</p>
        <a href="https://www.amazon.com/Bitcoin-Standard-Decentralized-Alternative-Central/dp/1119473861/ref=sr_1_3?keywords=bitcoin+standard&qid=1569198853&s=gateway&sr=8-3" class="btn btn-primary">Amazon</a>
      </div>
    </div>
    <div class="card">
        <h5 class="card-header">The Little Bitcoin Book</h5>
      <div class="text-center">
        <img src="/assets/images/thelittlebitcoinbook.jpg" class="img-fluid" alt="Responsive image">
      </div>
        <div class="card-body">
          <p class="card-text">Why Bitcoin Matter for Your Freedom, Finances and Future.</p>
          <p class="card-text">By Timi Ajiboye, Luis Buenaventura,  Lily Liu,  Alexander Lloyd, Alejandro Machado,  Jimmy Song,  Alena Vranova and Alex Gladstein  </p>
          <a href="https://www.amazon.com/Little-Bitcoin-Book-Matters-Finances/dp/1641990503/ref=pd_bxgy_14_img_3/146-5638998-1294907?_encoding=UTF8&pd_rd_i=1641990503&pd_rd_r=40e378e7-7191-46f2-813a-af23fd0e8d58&pd_rd_w=gTWhx&pd_rd_wg=5Wt5Q&pf_rd_p=a2006322-0bc0-4db9-a08e-d168c18ce6f0&pf_rd_r=NQ05T9BATYQEA3PXA2AP&psc=1&refRID=NQ05T9BATYQEA3PXA2AP" class="btn btn-primary">Amazon</a>
        </div>
      </div>
      <div class="card">
          <h5 class="card-header">Inventing Bitcoin</h5>
        <div class="text-center">
          <img src="/assets/images/inventingbitcoin.jpg" class="img-fluid" alt="Responsive image">
        </div>
          <div class="card-body">
            <h5 class="card-title">By Saifedean Ammous</h5>
            <a href="https://www.amazon.com/Bitcoin-Standard-Decentralized-Alternative-Central/dp/1119473861/ref=sr_1_3?keywords=bitcoin+standard&qid=1569198853&s=gateway&sr=8-3" class="btn btn-primary">Amazon</a>
          </div>
        </div>
        <div class="card">
            <h5 class="card-header">The Bitcoin Standard</h5>
          <div class="text-center">
            <img src="/assets/images/btcstandard.jpg" class="img-fluid" alt="Responsive image">
          </div>
            <div class="card-body">
              <h5 class="card-title">By Saifedean Ammous</h5>
              <a href="https://www.amazon.com/Bitcoin-Standard-Decentralized-Alternative-Central/dp/1119473861/ref=sr_1_3?keywords=bitcoin+standard&qid=1569198853&s=gateway&sr=8-3" class="btn btn-primary">Amazon</a>
            </div>
          </div>
          <div class="card">
              <h5 class="card-header">The Bitcoin Standard</h5>
            <div class="text-center">
              <img src="/assets/images/btcstandard.jpg" class="img-fluid" alt="Responsive image">
            </div>
              <div class="card-body">
                <h5 class="card-title">By Saifedean Ammous</h5>
                <a href="https://www.amazon.com/Bitcoin-Standard-Decentralized-Alternative-Central/dp/1119473861/ref=sr_1_3?keywords=bitcoin+standard&qid=1569198853&s=gateway&sr=8-3" class="btn btn-primary">Amazon</a>
              </div>
            </div>
            <div class="card">
                <h5 class="card-header">The Bitcoin Standard</h5>
              <div class="text-center">
                <img src="/assets/images/btcstandard.jpg" class="img-fluid" alt="Responsive image">
              </div>
                <div class="card-body">
                  <h5 class="card-title">By Saifedean Ammous</h5>
                  <a href="https://www.amazon.com/Bitcoin-Standard-Decentralized-Alternative-Central/dp/1119473861/ref=sr_1_3?keywords=bitcoin+standard&qid=1569198853&s=gateway&sr=8-3" class="btn btn-primary">Amazon</a>
                </div>
              </div>
              <div class="card">
                  <h5 class="card-header">The Bitcoin Standard</h5>
                <div class="text-center">
                  <img src="/assets/images/btcstandard.jpg" class="img-fluid" alt="Responsive image">
                </div>
                  <div class="card-body">
                    <h5 class="card-title">By Saifedean Ammous</h5>
                    <a href="https://www.amazon.com/Bitcoin-Standard-Decentralized-Alternative-Central/dp/1119473861/ref=sr_1_3?keywords=bitcoin+standard&qid=1569198853&s=gateway&sr=8-3" class="btn btn-primary">Amazon</a>
                  </div>
                </div>
                <div class="card">
                    <h5 class="card-header">The Bitcoin Standard</h5>
                  <div class="text-center">
                    <img src="/assets/images/btcstandard.jpg" class="img-fluid" alt="Responsive image">
                  </div>
                    <div class="card-body">
                      <h5 class="card-title">By Saifedean Ammous</h5>
                      <a href="https://www.amazon.com/Bitcoin-Standard-Decentralized-Alternative-Central/dp/1119473861/ref=sr_1_3?keywords=bitcoin+standard&qid=1569198853&s=gateway&sr=8-3" class="btn btn-primary">Amazon</a>
                    </div>
                  </div>
                  <div class="card">
                      <h5 class="card-header">The Bitcoin Standard</h5>
                    <div class="text-center">
                      <img src="/assets/images/btcstandard.jpg" class="img-fluid" alt="Responsive image">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title">By Saifedean Ammous</h5>
                        <a href="https://www.amazon.com/Bitcoin-Standard-Decentralized-Alternative-Central/dp/1119473861/ref=sr_1_3?keywords=bitcoin+standard&qid=1569198853&s=gateway&sr=8-3" class="btn btn-primary">Amazon</a>
                      </div>
                    </div>
</div>
