---
layout: default
---
<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container container-fluid">
      <h1 class="display-3">erickuhn19</h1>
      <p class="lead">Senior Program Manager, Decentralized Identity at Microsoft </p>
      <p class="lead">Sharing things I'm learning about </p>
    </div>
  </div>

  <div class="container">
    <div class="alert alert-primary text-center" role="alert">
    <h5>Last 5 blog posts</h5>
    </div>
  <ul>
    {% for post in site.categories.blog limit:5 %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.date | date: '%B %d, %Y' }}
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>
  <a href="/blog" class="btn btn-primary">More blog posts</a>
  </div>
