---
layout: default
---


<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container container-fluid">
      <h1 class="display-3">Satoshi Nakamoto's Writing</h1>
      <p class="lead">All of the writings of Satoshi Nakamoto.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-header">
            <h5 class="card-title">Bitcoin Whitepaper</h5>
          </div>
          <div class="card-body">
              <p><a class="btn btn-primary" href="/satoshi/bitcoin-whitepaper" role="button">Bitcoin Whitepaper</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-header">
            <h5 class="card-title">Emails</h5>
          </div>
          <div class="card-body">
              <p><a class="btn btn-primary" href="/satoshi/emails" role="button">Emails</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-header">
            <h5 class="card-title">Forum Posts</h5>
          </div>
          <div class="card-body">
              <p><a class="btn btn-primary" href="/satoshi/forumposts" role="button">Forum Posts</a></p>
          </div>
        </div>
      </div>
    </div>
